@font-face {
    font-family: 'Belwe';
    src: url('./fonts/BELWEB.ttf') format('truetype');
}

@font-face {
    font-family: 'MyScars';
    src: url('./fonts/my.scars.ttf') format('truetype');
}

@font-face {
    font-family: 'Ustroke';
    src: url('./fonts/Ustroke-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'DeadBitch';
    src: url('./fonts/DeadBitch-Regular.ttf') format('truetype');
}

body {
    font-family: 'MyScars', 'Ustroke';
}
